// ContentBox.scss
@import "../../global.scss";

.content-box {
    width: 65rem; 
    height: 400px; 
    background-color: #ebebeb; 
    margin-left: 20px; 
    margin-right: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1; 
  }

