// ShowPerson.scss
@import "../../../../global.scss";

.list-container-table {
  width: 100%;
  border-collapse: collapse;

  .list-container-th,
  .list-container-td {
    border: 1px solid #ddd;
    padding: 15px; 
    text-align: left;
  }

  .list-container-th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: $primary-collor; 
  }

  .list-container-td {
    transition: background-color 0.3s;
  }

  &:hover {
    .list-container-td {
      background-color: #f0f8ff;
    }
  }
}
